.icons {
    margin-top: 20px;
    margin-left: 10px;
    cursor: pointer;
}

.icons .icon {
    line-height: 0px;
    width: 90px;
    text-align: center;
    margin-bottom: 50px;
    
}

.icons .icon p {
    font-weight: 800;
    color: white;
    cursor: pointer;
}
.icons .icon img {
    cursor: pointer;

}

.images {
    position: absolute;
    right: 0px;
    top: 20px;
    min-width: 100px;
    color: white;
    z-index: 0;
}
