.textWindow {
    position: absolute;
    left: 40%;
    height: 500px;
    width: 410px;
    background-image: url("../../../public/images/greenbg.gif");
    text-align: center;
    font-family: "W95";
    border: 1px solid white;

}

.textWindow .bar {
    width: 100%;
    height: 20px;
    text-align: left;
    color: white;
    margin-top: -16px;
    background-image: linear-gradient(to right,#07080b, #f5ffff);

}

.textWindow .bar img {
    position: absolute;
    top: 2px;
    right: 7px;
    text-align: center;
    background-color: #808080;
    border: 1px solid black;
    height: 15px;
    
}

.textWindow .bar p {
    margin-left: 10px;
}

.textWindow .txt {
    overflow-y: hidden;
    font-size: 19px;
    text-align: center;
    font-weight: 400;
    height: 460px;
    border-radius: 7px;
    padding: 3px;
    text-align: left;
    width: 95%;
    margin: 0 auto;
    margin-top: 7px;
    background-color: rgb(0, 0, 0);
    overflow: auto;
}
.textWindow .txt p {
    color: rgb(255, 255, 255);
    margin-top: -1px;
}