.taskBar {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 0px;
    background-color: #c3c3c3;
    width: 100%;
    height: fit-content;
    padding: 5px;
    border-top: 1px solid #f0f0f0;
    text-align: center;
}

.taskBar .timer {
    color: black;
    border: 1px solid #929292;
    padding: 2px;
    width: 70px;
    text-align: center;
    position: absolute;
    right: 10px
}

.taskBar button {
    width: 100px;
    height: 30px;
    margin: 10 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    border-top: 1px solid #f0f0f0;
    border-left:1px solid #f0f0f0;
}

