html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-image: url("../public/images/bg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "W95";
  overflow-y: hidden;
  cursor: url("../public/images/95cursorsmall.png"), default;
}
html * {
  cursor: url("../public/images/95cursorsmall.png"), default;

}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "W95";
  src: url("../public/W95FA.otf");
}